body {
    background-color: black;
    color: #66fcf1;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
  }

  .rocket {
    font-size: 4rem;
    position: relative;
    transform: translateY(-500px);
    transition: transform 1s ease-in-out;
    
  }
  .launched {
    transform: translateY(0);
  }
a#rocket{
    color: black;
    opacity: 100%;
}

h1, h2 {
    color: #66fcf1;
    padding: 5%;
}

code {
    background-color: #1f2833;
    color: #c5c6c7;
    padding: 2px 4px;
    border-radius: 3px;
}

button {
    background-color: #45a29e;
    color: #0b0c10;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #66fcf1;
}

#this-is-not-a-hint {
color: black;
padding: 50px;
}

#this-is-not-a-hint:hover {
    cursor:none;
}

.harder ::selection {
    color:black;
    background: black;
  }